<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Chinh sua thong tin</h2>
<form method="post" th:action="@{/edit-student}" th:object="${student}">
    <input type="hidden" th:field="*{id}">
    Ten<input type="text" id="name" th:field="*{name}">
    Lop
    <select th:field="*{clazz}">
        <option th:each="c : ${clazzes}" th:value="${c.id}" th:text="${c.name}"></option>
    </select>
    <input type="submit" value="Chinh sua">
</form>
</body>
</html>