<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
</head>
<body>
<h1>Danh sach hoc vien</h1>
<p th:if="${msg} != null" th:text="${msg}"></p>
<a th:href="@{/show-create-form}">Them moi</a>

<form th:action="@{/find-student}" method="get">
    Ten<input type="text" th:id="name" th:name="name">
    <input type="submit" value="Tim kiem">
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Ten</th>
        <th>Lop</th>
        <th></th>
    </tr>
    <tr th:each="s,l: ${list}">
        <td th:text="${l.count}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.clazz.name}"></td>
        <td>
            <a th:href="@{/{id}/show-edit-form(id=${s.id})}">Chinh sua</a>
        </td>
        <td>
            <form method="post" th:action="@{/{id}/delete-student(id=${s.id})}">
                <input type="submit" value="Xoa">
            </form>
        </td>
        <td>
            <a th:href="@{/{id}/show-view(id=${s.id})}">Thong tin</a>
        </td>
    </tr>
</table>
<a th:href="@{/(page=${list.number -1})}" th:if="${list.hasPrevious()}">Trang truoc</a>
<a th:each="i: ${#numbers.sequence(0, list.totalPages)}" th:href="@{/(page=${i})}" th:text="${i+1}"></a>
<a th:href="@{/(page=${list.number +1})}" th:if="${list.hasNext()}">Trang sau</a>
</body>
</html>